# Set the desired connector
# a list of:
# name/tag, type of database, hostname, port, database
providers:
   - name: cyfronet
     db: "mongodb://localhost:27017/recommender_dev"
   - name: athena
     db: "mongodb://localhost:27017/athena_dev"

# The database where the Preprocessor's
# and RSmetrics data are stored
datastore: "mongodb://localhost:27017/rsmetrics"

service:
    # Use the EOSC-Marketplace webpage
    # to retrieve resources and associate the page_id and the service_id
    store: './page_map' # or null

    # if true it keeps only published, otherwise all
    # this has an effect in exporting when from is set to 'source' 
    # and also in metrics calculations where service is considered
    published: true

    # which origin to use to retrieve Resources
    # two options available:
    # - 'source': use the Connector
    # - 'page_map': use the EOSC Marketplace
    from: 'page_map' # or 'source'


