.wrapper {
    display: flex;
}

.logo {
    width:76px;
    padding: 0.5rem 1rem;
}

aside {
    min-width: 10em;
    border-right: 1px solid grey;
    padding: 0px 0px;
    display: flex;
    flex-direction: column;
}

main {
    width: 80%;
    padding: 0px 20px;
    min-height: 100vh;
}

aside h2{
    padding: 0 1rem;
}

nav {
    flex-grow: 1;
}

nav span {
    padding: 0.5rem 1rem;
    font-size:0.6rem;
    font-weight:bold;
}

nav ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

nav a {
    text-decoration: none;
    font-size: 0.8rem;
    display: block;
    padding: 0.5rem 1.5rem;
    color: black;
}

nav a:focus {
    color: black;
}

nav a:hover {
    color: #444444;
}